@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&family=Secular+One&display=swap');

*{
  margin: 0;
  padding: 6px;
}

html{
  scroll-behavior: smooth;
}

/* CSS Variables */
:root{
  --navbar-height: 59px;
}
/* Navigation Bar */
#navbar {
  font-family: 'Oswald', sans-serif;
  display: flex;
  align-items: center;
  position: fixed;
  z-index: 300;
  top: 0px;
  left: 0;
  right: 0;
  opacity:90%;
}

#navbar::before{
  content: "";
  background-color: rgb(255, 255, 255);
  position: absolute;
  top:0px;
  left:0px;
  height: 100%;
  width:100%;
  z-index: -1;
  
}

/* Navigation Bar: Logo and Image */
#logo{
  margin: 10px 34px;
  background-color: green;
  border-radius: 20px;

}
.logotext{
  font-size: 24px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}

/* Navigation Bar: List Styling */

#navbar ul {
  display: flex;
  margin-left: 538px;
}

#navbar ul li{ 
  list-style: none;
  font-size: 1.3rem;
}

#navbar ul li a{
  color: rgb(0, 0, 0);
  display: block;
  padding: 3px 22px;
  border-radius: 20px;
  text-decoration: none;
}

#navbar ul li a:hover{
  color: rgb(243, 243, 243);
  background-color: rgb(0, 0, 0);
}