h1{
    font-size: 33px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
    
}
h2{
    font-size: 80px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
   

}

p{
    font-size: 26x;
    font-family: 'Oswald', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

.block {
    width: 100%;
    height: 0;
    padding-bottom: 100%;
    /* border: 2px solid #600; */
    background-color: white;
  }
  .block a {
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(255, 255, 255);
    text-decoration: none;
  }
  .block span {
    padding: 1em;
    text-align: center;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-size: 40px;
}
  
  /* Demo only */
  .row {
    display: flex;
    justify-content: center;
    column-gap: 82px;
    margin-top: 32px;
}
  .column {
    width: 20%;
  }

  img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 283px;
    position: absolute;
    left: 951px;
    top: 693px;
}
  
  /* Add a hover effect (blue shadow) */
  img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }

  .wearetheright {
    font-size: 56px;
    margin-top: 29px;
}
  .wearetherightcontent {
    font-size: 28px;
    left: 21px;
    margin-top: -4px;
    margin-left: 452px;
}

.points {
  margin-top: 72px;
  margin-left: 13px;
}

.newway {
  margin-top: 197px;
  font-size: 50px;
}

@media (max-width:452px) {

img {
  top: 990px;
}
.wearetheright {
  font-size: 79px;
  margin-top: 25px;
  width: 1000px;
  margin-left: 273px;
}
.wearetherightcontent {
  font-size: 30px;
  width: 414px;
}
.newway {
  margin-top: 293px;
  font-size: 79px;
  width: 1000px;
  margin-left: 273px;
}
.row {
  display: flex;
  justify-content: center;
  column-gap: 82px;
  margin-top: 127px;
  margin-left: 319px;
  width: 947px;
}
.hero-container {
  top: 89px;
}
.column {
  width: 36%;
}

}

@media (min-width: 453px) and (max-width: 999px) {
}

/* @media (min-width:1000px) {
  .hero-image {
    /* WIDTH: 1238PX; */
/* }
.hero-container {
  right: 803px;
  top: 162px;
  margin: 21px;
  height: 417px;
}
img {
  left: 747px;
  top: 1121px;
}
.points {
  margin-top: 72px;
  margin-left: -123px;
}
.column {
  width: 28%;
}
.row {
  margin-right: -145px;
}
}  */