body, html {
  height: 100%;
  background-color: rgb(184, 238, 238);
}

.hero-image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../images/money.jpg);
  height: 70%;
  margin-top: 58px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  margin-left: -17px;
  margin-right: -12px;

}

/* Place text in the middle of the image */
.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 75%;
transform: translate(-50%, -50%);
color: white;
}



* {
  box-sizing: border-box;
}


.hero-container2 {
  position: absolute;
  right: 595px;
  top: 532px;
  margin: 20px;
  max-width: 465px;
  padding: 50px;
  background-color: white;
}

/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for the submit button */
.btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
  margin-top: 20px;
}

.btn:hover {
  opacity: 1;
}

/* Navigation Bar: Logo and Image */
#logo{
  margin: 10px 34px;
  background-color: green;
  border-radius: 20px;

}
.logotext{
  font-size: 24px;
  color: white;
  padding-left: 20px;
  padding-right: 20px;
}